<footer class="site-footer">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>

    <div class="container-fluid">
        <div class="col-12 justify-content-between">
            <div class="social">
                <a class="social-link" href="https://twitter.com/alex_game_dev">Twitter</a>
                <a class="social-link" href="https://www.linkedin.com/in/alejandro-orejudo/">LinkedIn</a>
            </div>
            <div class="feeds">
                
            </div>
        </div>

    </div>

</footer>