<article>
    <div class="mb-4">
        <div class="row my-4">
            <a href="{{include.url}}">
                <img class="img-16-9 d-block w-100 rounded-2" src="{{ include.thumbnail | default: site.default_thumbnail}}" alt="{{ include.title }}">
            </a>
        </div>
        <div class="row">
            <div>
                {% for tag in include.tags %}
                <span class="uppercase light">{{tag}}</span>
                {% endfor %}
            </div>
        </div>
        <a class="un" href="{{include.url}}">
            <h3>{{ include.title }}</h3>
        </a>
        <p>{{include.summary}}</p>
    </div>      
</article>
