.card-post{
    margin-bottom: 2.5rem;
}

.card-thumbnail{
    flex: 0 0 300px;
    margin-right: 2rem;
    >img{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}

.card-content{
    flex: 1;
}


@media (max-width: 768px)
{
    .card-post {
        flex-direction: column;
    }

    .card-thumbnail
    {
        width: 100%;
    }
}

