p {
    font-size: .875rem;
    padding: 0 0 1.333em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading); /* Cambiar el color de los enlaces a negro */
    font-family: 'League Spartan', sans-serif;
    line-height: 1.1;
    font-weight: 700;
}

h1 {
    font-size: 3.25rem;
}

a {
    color: var(--color-text);
    cursor: pointer;
}

a:hover {
    color: var(--color-theme);
    -webkit-text-decoration-color: var(--color-theme);
    text-decoration-color: var(--color-theme);
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-top: 0.5em;
    position: relative;
    transition: color 0.3s, padding-right 0.3s;
}

.link::after {
    background-color: var(--color-text);
    width: 0.77em;
    height: 0.77em;
    display: inline-block;
    content: '';
    vertical-align: -5%;
    -webkit-mask: url('../img/arrow.svg') no-repeat 50% 50%;
    mask: url('../img/arrow.svg') no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-position: right;
    mask-position: right;
    margin-left: 0.333em;
    overflow: hidden;
    transition: width .3s cubic-bezier(0.65, 0, 0.35, 1);
}

.link:hover::after{
    background-color: var(--color-theme);
    width: 0.9em;
    height: 0.77em;
}

.uppercase
{
    text-transform: uppercase;
}

.light
{
    color: var(--color-tags);
}

.nav li a
{
    font-size: 0.8776rem;
}

.section-title
{
    text-transform: uppercase;
    color: var(--color-light-title);
    font-size: 1.2rem;
    margin-bottom: 1.667rem;
}

a.un h2,
a.un h3,
a.un h4,
a.un h5,
a.un h6
{
    display: inline;
    margin: 0.8776em 0;
    content: "";
    background-image: linear-gradient(var(--color-theme), var(--color-theme));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease;
}

a.un:hover h2,
a.un:hover h3,
a.un:hover h4,
a.un:hover h5,
a.un:hover h6
{
    color: var(--color-theme);
    background-size: 100% 2px;
}


.header .nav li a:hover {
    color: var(--color-theme);
}

.subtitle{
    font-size: 2.75rem;
    text-align: center;
}

@keyframes animateWords{
    0%, 23% {
      transform: translateY(0%);
    }
    
    25%,48% {
      transform: translateY(-125%);
    }
    
    50%,73% {
      transform: translateY(-250%);
    }
    
    75%,98% {
      transform: translateY(-375%);
    }
    
    100% {
      transform: translateY(-510%);
    }
}

  
.dynamic-span
{
    height: 1.5em;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    margin: 0;
    > span{
        
        > span{
            display: block;
            text-align: center;
            margin: 0.3em 0;
            animation: animateWords 15.0s infinite ease;
        }
    }
}