---
layout: default
---

<section class="section section-blog">
    <div class="container">
        <h1>My projects</h1>
        <div class="mt-5 row">
            {% assign posts = site.categories['games'] | sort: 'date' | reverse | limit: 3 %}
            {% for post in posts %}
            <div class="col-12 col-md-6 project">
                {% include work-entry.html
                    title=post.title
                    summary=post.summary
                    tags=post.tags
                    thumbnail=post.image
                %} 
            </div>
            {% endfor %}
        </div>
    </div>
</section>